/* DAW.digital connect page style sheet */


body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    /*background: linear-gradient(#FFFFFF, #CFCFCF);*/
}

.navbar {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 4px;
    background: black;
    text-align: left;
    box-shadow:  2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.contact-us h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    letter-spacing: 6px;
    font-size: 40px;
    font-weight: bold;
}

.text-container a {
    color: black;
    text-decoration: none;
}

.text-container a:hover {
    text-decoration: underline;
}

.text-container p.socials {
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 5;
    font-size: 20px;
    text-align: center;
}

/* The following code is a media query to fix the font size & padding on mobile:  */

@media screen and (max-width: 768px) {

    .contact-us h1 {
        font-weight: bold;
        padding-top: 100px;
        font-size: 25px;
    }
    
    .socials p {
        font-size: 20px;
    }

    .navbar {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .navbar a {
        letter-spacing: 2px;
        font-size: 4px;
    }

}